:root {
    --squareWidth-width: 25px;
    --squareHeight-height: 25px;
}

#grid {
    display: flex;
    width: 400px;
    flex-wrap: wrap;
}

#grid > div {
    width: var(--squareWidth-width);
    height: var(--squareHeight-height);
    background-color: rgb(209, 207, 207); 
}